{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <h1>Logowanie</h1>
  {% if form.errors %}
    <p>
      User name or password are incorrect.
      Try again.
    </p>
  {% else %}
    <p>Fill out the form below to log in. If you do not have an account yet, you can create it <a href="{% url 'register' %}">here</a>.</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
  </div>
    <div class="social">
        <ul>
          <li class="facebook">
            <a href="{% url 'social:begin' 'facebook' %}">Zaloguj się przez Facebooka</a>
          </li>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">Zaloguj się przez Google</a>
            </li>
        </ul>
    </div>
{% endblock %}