{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <h1>Logowanie</h1>
  {% if form.errors %}
    <p>
      User name or password are incorrect.
      Try again.
    </p>
  {% else %}
    <p>Fill out the form below</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Login"></p>
    </form>
  </div>
{% endblock %}